@model System.Data.DataTable
@*@model <MyFirstMvc.Models.school>*@

@{
    ViewBag.Title = "index";
}

<h2>index</h2>
@Html.BeginForm()
<h3>StudentID</h3>
@Html.TextBox("id")
<input type="submit" value="search" />

@Html.ActionLink("create", "Create")
<table class="table">
    <tr>
        <th>
            Sid
        </th>
        <th>
            Studentname
        </th>
        <th>
            location
        </th>
        <th>
            mobile
        </th>
        <th>
            Gender
        </th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
<tr>
    <td>
        @Model.Rows[i][0]
    </td>
    <td>
        @Model.Rows[i][1]
    </td>
    <td>
        @Model.Rows[i][2]
    </td>
    <td>
        @Model.Rows[i][3]
    </td>
    <td>
        @Model.Rows[i][4]
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Rows[i][0] }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Rows[i][0]}) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Rows[i][0] })
    </td>

</tr>
        @*<tr>

                <td>
                    @Html.DisplayFor(modelitem => item.Sid)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Studentname)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Gender)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Sid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Sid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Sid })
                </td>

            </tr>*@
    }

</table>
